@model HBGDatorServiceDAL.Models.AboutReadOnlyModel
@using HBGDatorServiceDAL.Models

<p>

    @if (Session["Admin"] != null && (bool)Session["Admin"])
    {
        @Html.ActionLink("Edit", "EditAbout", "EditAboutPage")
    }
</p>

<div class="AboutContent">
    <div class="row" style="font-size:16px;">

        <div class="container">

            <h2>Om oss</h2>
            <p>
                Vi är ett företag som varit verksamt i Helsingborg i 2 år med butik och tillhörande datorverkstad i Helsingborgs
                City. Vi arbetar med små & medelstora företag genom service avtal och privatpersoner.
                Vi har 20 års erfarenhet av datorer, reparationer, service och säkerhet.
            </p>
            <br />

            <p>
                Helsingborgs Datorservice har teknisk kompetens, både egen och förstärkt med IT konsulter.
                som kan komma med kreativa lösningar på svårare problem.
            </p>
        </div>
        <br />

    </div>
</div>