@model HBGDatorServiceDAL.Models.AboutReadOnlyModel
@using HBGDatorServiceDAL.Models

<p>
   
    @if (Session["Admin"] != null && (bool)Session["Admin"])
    {
        @Html.ActionLink("Edit", "EditAbout", "EditAboutPage")
    }
</p>

<div class="AboutContent">
    @foreach (var about in Model.About)
    {
        <div class="AboutInfoBox">
            <h1>@about.Header</h1>
            <p>@about.Textfield</p>
            <hr />
        </div>
    }
</div>