
@{
    ViewBag.Title = "Home Page";
}

<div class="slider-container">
    <div class="hiddenoo">
        <div class="owl-carousel slider">
            @*@foreach (var image in Model)
            {
                <div class="panel panel-primary slider-item">
                    <img src="@Url.Content(image)" />
                </div>
            }*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
 
        <img src="~/Content/Images/IMG_0210.JPG" width="400px" height="400px" />
    
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        <h2>Välkommen till Helsingborgs Datorservice</h2>
        <p>
            Vi är ett företag som har 20 årig erfarenhet av datorer och datorproblematik, du väljer oss för att vi kan Datorer och datorutrustning.

            Vi hjälper dig att välja rätt och vi sätter alltid dig som kund i centrum .

            Vi har funnits i Helsingborg i snart 6 år. Du hittar oss i de södra delarna av Helsingborg 100 meter från Södergatan där vi har vår butik och service verkstad för både företag & privat personer.

            På följande sidor kan du som privat kund eller företagskund navigera dig rätt till just det som du söker hjälp med.
            <br />
            Välkommen
        </p>
    </div>
</div>
