@using System.Collections.Specialized
@using System.Web.Razor
@using HBGDatorService.Controllers
@model List<string>

<div class="slider-container">
    <div class="hiddenoo">
        <div class="owl-carousel slider">
            @foreach (var image in Model)
            {
                <div class="panel panel-primary slider-item">
                    <img src="@Url.Content(image)" />
                </div>
            }
        </div>
    </div>
</div>
<p>
    @if (User.Identity.IsAuthenticated && int.Parse(User.Identity.Name) < 2)
    {
        @*<div class="btn-btn-default">
                <input type="button" value="Edit SlideShow" onclick="location.href = '@Url.Action("UploadSlideshowFile", "EditSlideShowImages")'" />
            </div> }*@
        @Html.ActionLink("Edit SlideShow", "UploadSlideshowFile", "EditSlideShowImages")
    }
</p>
<div class="row">
    <div class="col-md-4">

        <img src="~/Images/IMG_0210.JPG"width="400" height="400" />
     
    
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        <h2>Välkommen till Helsingborgs Datorservice</h2>
        <p>
            Vi är ett företag som har 20 årig erfarenhet av datorer och datorproblematik, du väljer oss för att vi kan Datorer och datorutrustning.

            Vi hjälper dig att välja rätt och vi sätter alltid dig som kund i centrum .

            Vi har funnits i Helsingborg i snart 6 år. Du hittar oss i de södra delarna av Helsingborg 100 meter från Södergatan där vi har vår butik och service verkstad för både företag & privat personer.

            På följande sidor kan du som privat kund eller företagskund navigera dig rätt till just det som du söker hjälp med.
            <br />
            Välkommen
        </p>
    </div>
</div>


@section Styles {
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".slider").owlCarousel({
                autoPlay: 5000,
                singleItem: true,
                //items: 1,
                responsive: true,
                navigation: false,
                afterInit: function (event) {
                    $(".slider-container > .hiddenoo").fadeIn(100);
                }
            });
        });
    </script>
}


<script>

    $(document).ready(function () {
        function updateSize() {
            var minHeight = parseInt($('.owl-item').eq(0).css('height'));
            $('.owl-item').each(function () {
                var thisHeight = parseInt($(this).css('height'));
                minHeight = (minHeight <= thisHeight ? minHeight : thisHeight);
            });
            $('.owl-wrapper-outer').css('height', minHeight + 'px');

            /*show the bottom part of the cropped images*/
            $('.owl-carousel .owl-item img').each(function () {
                var thisHeight = parseInt($(this).css('height'));
                if (thisHeight > minHeight) {
                    $(this).css('margin-top', -1 * (thisHeight - minHeight) + 'px');
                }
            });
            $("#owl-example").owlCarousel({
                afterUpdate: function () {
                    updateSize();
                },
                afterInit: function () {
                    updateSize();
                }
            });


        }
    });

</script>