@model HBGDatorServiceDAL.Models.ServiceReadOnlyModel
@using HBGDatorServiceDAL.Models

<div class="tabbable boxed parentTabs">
    <div id="tabDescription" class="col-md-12">
        <div role="tabpanel" id="tabInformation">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#set1">För PrivatPersoner</a>
                </li>
                <li>
                    <a href="#set2">För Företag</a>
                </li>
            </ul>

            <div class="tab-content">

                <div class="tab-pane fade active in" id="set1">
                    <div class="tabbable">

                        <p>
                            @if (Session["Admin"] != null && (bool)Session["Admin"])
                            {
                                @Html.ActionLink("Edit", "EditService", "EditServicePage")
                            }
                        </p>

                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#sub11">Priser för hembesök</a>
                            </li>
                            <li>
                                <a href="#sub12">Priser för Service/Verkstad</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="sub11">
                                <div class="container">

                                    <p>Startavgift inkl 30min inom Helsingborgsområdet är 495kr där efter 695kr/h</p>
                                    <p>Alla priser är inklusive moms.</p>
                                    <br />

                                </div>
                            </div>
                            <div class="tab-pane fade" id="sub12">
                                <div class="container">

                                    <h2>Tidsbaserade priser</h2>

                                    <p>Fast timpris datorservice 15 min: 100 kr</p>
                                    <p>Fast timpris datorservice 30 min: 200 kr</p>
                                    <p>Fast timpris datorservice 45 min: 300 kr</p>
                                    <p>Fast timpris datorservice 60 min: 400 kr</p>
                                    <br />

                                    <h2>Fasta åtgärds priser</h2>

                                    <p>Felsökning (när vi sedan ställt diagnos på inlämnat gods så ringer vi dig och du bestämmer åtgärd): 395 kr</p>
                                    <p> Hälsocheck ( en allmän genomgång för att se att datorn är ok ): 395 kr</p>
                                    <p>Express avgift dator ( d.v.s komma före i kön av datorer): 500 kr</p>
                                    <p>Rengöring av Dator ( städning av dammig & smutisg dator ): 349 kr</p>
                                    <p>Grundläggande virusborttagning: 495 kr</p>
                                    <p>Installation programvara: 100 kr</p>
                                    <p>Installation av Antivirusprogram: 195 kr</p>
                                    <p>Installation av kringutrustning som skrivare etc /enhet: 149 kr</p>
                                    <p>Konfigurering av router: 299 kr</p>
                                    <p>Återskapning från minneskort: 699 kr</p>
                                    <p>Återskapning från hårddisk: 1395 kr</p>
                                    <p>Backup av data från media upp till 40 Gb: 495 kr</p>
                                    <p>Installation operativsystem utan backup: 695 kr</p>
                                    <p>Installation operativsystem med backup: 995 kr</p>
                                    <br />

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane fade" id="set2">
                <div class="tabbable">

                    <p>
                        @if (Session["Admin"] != null && (bool)Session["Admin"])
                        {
                            @Html.ActionLink("Edit", "EditService", "EditServicePage")
                        }
                    </p>

                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#sub21">Serviceavtal Basic</a>
                        </li>
                        <li>
                            <a href="#sub22">Serviceavtal Medium</a>
                        </li>
                        <li>
                            <a href="#sub23">Serviceavtal Pro</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="sub21">
                            <div class="container">

                                <h2>Serviceavtal Basic</h2>

                                <p>Inställelsetid 36 timmar vid problem</p>
                                <p>Ge Kunden tillgång till 1 teknikers Mobilnummer</p>
                                <p>Rabatt på materiel och förbrukningsmateriel om 10%</p>
                                <p>Support via E-post 2gg/månad</p>
                                <p>Telefonsupport 1 ggr/månad ( max 1 tim )</p>
                                <p>Föra och redovisa komplett besöksloggbok</p>
                                <br />

                                <h2>Pris</h2>

                                <p>290 kr / månad + moms</p>
                                <p>Övrig ordinarie timkostnad 595 kr / timme + moms</p>
                                <p>( normalpris utan avtal 695 kr / timme + moms )</p>
                                <p>Kväll och helg kostnad 1195 kr per timme + moms.</p>
                                <p>Milersättning om 30 kr/milen</p>
                                <br />

                            </div>
                        </div>
                        <div class="tab-pane fade" id="sub22">
                            <div class="container">

                                <h2>Serviceavtal Medium</h2>

                                <p>Ett 1 timmes underhålls besök per månad på plats</p>
                                <p>Inställelsetid 24 timmar vid problem</p>
                                <p>Ge Kunden tillgång till 1 teknikers Mobilnummer</p>
                                <p>Rabatt på materiel och förbrukningsmateriel om 15%</p>
                                <p>Fri support via E-post</p>
                                <p>Telefonsupport 2 ggr/månad (max 1 tim per samtal)</p>
                                <p>Föra och redovisa komplett besöksloggbok</p>
                                <br />

                                <h2>Pris</h2>

                                <p>795 kr / månad + moms</p>
                                <p>Övrig timkostnad 549 kr / timme + moms ( normalpris utan avtal 695 kr / timme + moms )</p>
                                <p>Kväll och helg kostnad 995 kr per timme + moms.</p>
                                <p>Milersättning om 30 kr / milen</p>
                                <br />

                            </div>
                        </div>
                        <div class="tab-pane fade" id="sub23">
                            <div class="container">

                                <h2>Serviceavtal Pro</h2>

                                <p>Ett 2 timmars besök per månad på plats.</p>
                                <p>Inställelsetid 16 timmar vid problem</p>
                                <p>Ge Kunden tillgång till 1 teknikers Mobilnummer</p>
                                <p>Rabatt på materiel och förbrukningsmateriel om 20%</p>
                                <p>Fri support via E-post</p>
                                <p>Fri telefonsupport</p>
                                <p>Föra och redovisa komplett besöksloggbok</p>
                                <br />

                                <h2>Pris</h2>

                                <p>1495 kr / månad + moms</p>
                                <p>Övrig timkostnad 495 kr / timme + moms ( normalpris utan avtal 695 kr / timme + mom</p>
                                <p>Kväll och helg kostnad 895 kr per timme + moms.</p>
                                <p>Milersättning om 30 kr/milen</p>
                                <br />

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

