/* Bakgunds bild/färg
   orange skugan:
*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F1F1F1;
    /*background-image:url("Images/mass_effect_shepard_female_graphics_gun_1366x768_hd-wallpaper-15574.jpg");*/
    -webkit-box-shadow: inset 0 0 100px 1px #ff6a00;
    box-shadow: inset 0 0 100px 1px black;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width:496px;
}

.ServiceContent {
    padding-left: 20px;
    padding-right: 20px;
}

.ServiceHeader {
    margin-bottom: 50px;
}

.ServiceInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}



p {
    color: black;
}

.navbar {
    background-color: black;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 600px;
}

.wrapper {
    height: auto;
    width: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 10px 5px #C4C4C4;
    box-shadow: 0 0 10px 5px #C4C4C4;
    min-width: 480px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media Screen and (max-width: 992px) {
    .slider-container {
        display: none;
    }
}

@media Screen and (min-width: 992px) {
    .slider-container {
        max-width: 1140px;
        max-height: 500px;
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        background-color: #ffffff;
    }
}

@media Screen and (max-width: 992px) {
#navbar-right{
    float:left;
    width:100%;
    margin-left:15px;
    margin-right:15px;
}
#navbar-left{
    float:left;
    width:100%;
    margin-left:15px;
    margin-right:15px;
}
}
.navbar-left {
    margin-right: 0px!important; 
}
.navbar-right {
    margin-right: 0px!important; 
}
@media Screen and (min-width: 992px) {
#navbar-right{
    float:right;
    margin-left:15px;
    margin-right:15px;
}
#navbar-left{
    float:left;
    margin-left:15px;
    margin-right:15px;
}
}


#logo {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 60%;
    max-height: 200px;
    max-width: 800px;
}

#contactContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 1140px;
}

#contact {
    width: 49%;
    min-width: 300px;
    float: left;
    padding: 30px;
}

@media Screen and (min-width: 992px) {
#googleMap {
    float: left;
    border: 0;
    min-width: 250px;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    min-height: 450px;
}
}

@media Screen and (max-width: 992px) {
#googleMap {
    float: left;
    border: 0;
    min-width: 250px;
    width: 100%;
    min-height: 450px;
}
}



.slider-item {
    width: auto;
    height: 290px;
}

    .slider-item .panel-footer {
        height: 55px;
        line-height: 33px;
    }

.hiddenoo {
    display: none;
}

.GalleryWrapper {
    width: 1024px;
    display: block;
}

.GalleryAlineImg {
    width: auto;
    padding-left: 20px;
    display: block;
    float: left;
}

@media Screen and (max-width: 992px) {
footer {
    width:95%;
    max-width:1140px;
    margin-right:2.5%;
    margin-left:2.5%;
}
}

@media Screen and (min-width: 992px) {
footer {
    width:60%;
    max-width:1140px;
    margin-right:20%;
    margin-left:20%;
}
}


    footer ul {
        list-style: none;
        line-height: 125%;
    }

    footer a {
        color: #ffffff;
        font-family: 'Oswald', sans-serif;
    }

        footer a:hover {
            list-style: none;
            color: #D1081D;
            background-color: transparent;
            text-decoration: none;
        }

    footer p {
        color: black;
        font-family: 'Oswald', sans-serif;
    }

.Error {
    background-color: aqua;
    color: black;
}
